* {
    padding: 0;
    margin: 0
}

.container {
    height: auto;
    width: auto;
    box-sizing: border-box;
}

header.masthead {
    position: relative;
    background-size: cover;
    padding-top: 5rem;
    background-color: #fff;
}

.vcpkg-content {
    height: 80%;
    width: 80%;
    box-sizing: border-box;
    position: relative;
}

.title-container {
    text-align: left;
    margin: 0 auto;
}

.title-text {
    text-align: left;
    position: absolute;
    margin: 8em 0 0 8em;
}

.vcpkg-title {
    font-size: 48px;
    font-weight: 600;
    color: #000;
}

.logo-img {
    max-width: 50%;
    height: auto;
    display: inline-block;
}

.vcpkg-img-left {
    height: 60vw;
    width: 110vh;
    position: relative;
    background: url('/assets/mark/mark-upper-left.svg') no-repeat left top;
    background-position: -20rem -1em;
    background-size: cover;
}

.vcpkg-img-right {
    height: 62vw;
    width: 110vh;
    position: absolute;
    right: -37em;
    top: 16em;
    background: url('/assets/mark/mark-lower-right.svg') no-repeat right bottom;
    background-position: right 1em bottom -5em;
    background-size: cover;
}

.vc-btn {
    background-color: #3366ff;
    color: #fff;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    border: none;
    margin-left: 8em;
    margin-top: 16em;
    width: 120px;
    position: relative;
    display: inline-block;
}

.pkg-btn {
    background-color: #fff;
    color: #3366ff;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    border: 1px;
    margin-left: 1em;
    margin-top: 16em;
    width: 160px;
    position: relative;
    display: inline-block;
}

.title-buttons {
    padding-top: 20px;
}

.search-bar {
    padding: 40px 20px 0px 20px;
    text-align: center;
    border: 0;
}

.placeholder {
    color: #4970aa;
    font-weight: bold;
}

.idx-search-box {
    border: #4970aa solid 2px;
    outline: 0;
    border-radius: 1.6rem;
    background-color: #ffffff;
    padding: 5px 10px;
    width: 75%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.questions {
    height: 300px;
    width: 50%;
    color: #000;
    margin-left: 520px;
    margin-top: 240px;
    position: absolute;
    text-align: left;
    font-size: 10px;
}

.what-is {
    font-size: 20px;
    margin-top: 1rem;
    text-align: left;
}

.why-vcpkg {
    height: 80%;
    width: 100%;
    position: relative;
    margin-left: 130px;
    margin-top: 15px;
}

.questions2 {
    color: #000;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 60px;
    margin-top: 20rem;
    position: relative;
}

.title {
    display: flex;
    background-color: #fff;
    color: black;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-width: 120%;
}

.why-vcpkg-img {
    position: relative;
    background-size: cover;
    height: 120px;
    width: 340px;
    margin-top: 5px;
    display: inline-block;
    padding-bottom: 5px;
}

.why-vcpkg-img-1 {
    background: url('/assets/icons/easy_to_use.png') no-repeat center top;
}

.why-vcpkg-img-2 {
    background: url('/assets/icons/cross_platform.png') no-repeat center top;
}

.why-vcpkg-img-3 {
    background: url('/assets/icons/architecture_agnostic.png') no-repeat center top;
}

.why-vcpkg-img-4 {
    background: url('/assets/icons/high_quality_catalog.png') no-repeat center top;
    margin-top: 50px;
}

.why-vcpkg-img-5 {
    background: url('/assets/icons/open_source_project.png') no-repeat center top;
    margin-top: 50px;
}

.examples {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    position: relative;
}

.blank-space {
    border: none;
}

.border-custom {
    padding: 0;
}

.why-us-row {
    justify-content: center;
}

.why-us-text {
    text-align: center;
    font-size: 20px;
    width: 100%;
    position: relative;
}

.stay {
    margin-bottom: 30px;
    text-align: center;
}

.why-us {
    padding-bottom: 120px;
}

.why-us-box {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.why-us-text p {
    color: #000;
    font-size: 16px;
    padding-top: 0px;
    margin-bottom: 10px;
}

.footer {
    height: 25em;
    width: 200%;
    margin-left: -1em;
    background-color: #fbac21;
    background-image: linear-gradient(to right, #f9bc30,#fbac21);
}

    .footer::before {
        content: '';
        position: absolute;
        margin-left: -1em;
        margin-top: -9em;
        width: 110%;
        height: 15em;
        border-radius: 90%;
        background-color: #fff;
    }

.footer-favicon {
    position: relative;
    height: 5em;
    width: 10em;
    background-size: cover;
    background: url('/assets/mark/mark-footer.svg') no-repeat left top;
    margin-top: 10em;
    margin-left: 12em;
}


.contact-font {
    font-size: 30px;
    color: #fff;
    margin-left: 1em;
    margin-top: -0.1em;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.align-items-center {
    align-items: flex-start;
}

.footer-font {
    font-weight: bold;
}

.footer li a {
    color: #fff;
}

.no-marg {
    margin-top: 10.5em;
}

.media-link {
    margin-top: 0em;
    padding: 0px;
}

.fa-ul {
    margin-left: 1.5em;
}

ul li {
    list-style: none;
}

.iconsize {
    font-size: 14px;
}

.padding {
    padding: 15px;
}

.col-container {
    display: table;
    width: 100%;
}

.col {
    display: table-cell;
}

img.nav-icon {
    max-width: 20px;
    height: auto;
}

    img.nav-icon:hover {
        text-decoration: none;
    }

p {
    margin: 0;
    font-family: "Arial";
}

.white {
    color: #fff;
}
/*.media-link {
    padding: 0px;
}*/

.button:hover {
    background-color: #4879c4;
    text-decoration: underline;
}

.media-link-item {
    list-style-type: none;
    display: inline-block;
    margin-left: 2.6vw;
    margin-right: 2.6vw;
}

.media-link-img {
    max-width: 5vw;
    height: auto;
}

.media-link-img-big {
    max-width: 6.2vw;
    height: auto;
}

.media-link-img-small {
    max-width: 4vw;
    height: auto;
    margin-bottom: 1vh;
}

.margin-bot {
    margin-bottom: 0.7vh;
}

#stay-in-touch {
    margin-bottom: 5vh;
}

.hide {
    display: none;
}

.gif {
    min-width: 50vw;
    max-width: 70vw;
    height: auto;
}
